# Ignore all IntelliJ IDEA project files at any level
**/.idea/

# Ignore all IntelliJ IDEA '*.iml' files at any level
*.iml

# Ignore all 'out' directories within any 'java' folder at any level
**/java/**/out/

# Ignore DS_Store files (Mac) at any level
*.DS_Store
